/*Navbar*/
.custom-navbar .navbar-nav .nav-link {
    color:gray; /* Colore del testo dei link */
  }
  .custom-navbar .navbar-nav .nav-link.active {
    color:black; 
  }
  #logonav{
    width: 25%;
  }
  @media screen and (max-width: 500px){
    #logonav {
      width:60%;
    }
  }
  /*Barra di ricerca*/
  .search-input {
    display: none;
  }
  .show-search-input {
    display: block !important;
  }
  #search-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
  }
  
  #search-overlay .container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #search-form-overlay {
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
  }
  #search-icon{font-size: 30px !important;}
  
  @media (max-width: 991px) {
    #search-form {
      display: none;
    }
  }

  #invia{
    margin-top:10px !important;
  }
  .contact-form{
    margin-top: 10px;
  }
  
  /*body*/
  #invia{
    margin-top:10px !important;
  }
  .contact-form{
    margin-top: 10px;
  }

  /*footer*/
  #logo{

    width: 150px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
  }
   footer {
    position:absolute;
    color: white;
    width: 100%;
    height: 2.5rem; 
}
/*scrolltop*/
.top {
  position: fixed;
  bottom: 10px;
  right: 15px;
  width: 55px;
  text-align: center;
  padding: 6px;
}
#toparrow {
  max-width: 50px;
  cursor:pointer;
 z-index: 1;
}
