 /*Navbar*/
.custom-navbar .navbar-nav .nav-link {
  color:gray; /* Colore del testo dei link */
}
.custom-navbar .navbar-nav .nav-link.active {
  color:black; 
}
/*Barra di ricerca*/
.search-input {
  display: none;
}
.show-search-input {
  display: block !important;
}
#search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

#search-overlay .container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#search-form-overlay {
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
}
#search-icon{font-size: 30px !important;}

@media (max-width: 991px) {
  #search-form {
    display: none;
  }
}
/*swiper*/
.mySwiper1{
  width: 100% !important;
}
.swiper-slide {
  text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display:block;
}

 .mySwiper2 {
    width: 60%;
    height: 100%;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;

  }
  .swiper-pagination2  {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
  }

 
.cluster {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    
}

#logo{

  width: 150px;
  text-align: center;
  margin-top: 0px;
}

footer {
    position:absolute;
    color: white;
    width: 100%;
    height: 2.5rem; 
    z-index:1;
}

